@import "tailwindcss";


/* Optional: custom global styles */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb; /* light gray background */
  color: #111827; /* dark text */
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
